body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 4px 26px -11px rgba(34, 60, 80, 0.5);
}

.imageWrapper img {
  width: 100%;
}

.questionWrapper {
  margin: 32px 0;
  line-height: 24px;
  font-weight: 300;
  transition: 1s all ease;
  will-change: opacity, transform;
}

.questionWrapper a {
  color: #000;
}

.questionWrapperHidden {
  transform: translateY(-40px);
  opacity: 0;
}

.answersWrapper {
  display: flex;
  transition: 1s all ease;
}

.answersWrapperHidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.answerButton {
  color: #fff;
  background-color: rgb(24, 24, 24);
  width: 240px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.5s all ease;
  will-change: transform;
  box-shadow: 0px 4px 26px -11px rgba(34, 60, 80, 0.5);
  border: none;
}

.answerButton:active, .answerButton:focus {
  transform: scale(0.95);
  outline: none;
}

.answerButton:hover {
  transform: scale(1.05);
}

.linksWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.linksWrapper a {
  color: #fff;
  background-color: rgb(24, 24, 24);
  flex: 1;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 8px;
  cursor: pointer;
  transition: 1s all ease;
  will-change: transform;
  box-shadow: 0px 4px 26px -11px rgba(34, 60, 80, 0.5);
  border: none;
  text-decoration: none;
  opacity: 0;
  transform: translateY(-40px);
  user-select: none;
}

.linksWrapper a:nth-child(2) {
  transition-delay: .2s;
}

.linksWrapper a:nth-child(2) {
  transition-delay: .4s;
}
.linksWrapper a:nth-child(3) {
  transition-delay: .6s;
}

.startScreen .answerButton {
  text-transform: uppercase;
}


.linkVisible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  user-select: all !important;
}

.gameScreen, .resultScreen, .startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s all ease;
  will-change: transform, opacity;
}

.gameScreen, .resultScreen {
  display: none;
  transform: translateY(40px);
  opacity: 0; 
}

.startScreen h2 {
  margin: 32px 0;
  font-size: 32px;
  font-weight: 600;
}

.startScreen .questionWrapper {
  margin-top: 0;
}

.startScreen .answerButton {
  height: 48px;
  font-size: 18px;
}

.gameScreenDisplay, .resultScreenDisplay {
  display: flex;
}

.gameScreenVisible, .resultScreenVisible {
  transform: translateY(0);
  opacity: 1;
}

.startScreenHidden, .gameScreenHidden {
  transform: translateY(40px);
  opacity: 0;
}

@media(max-width: 1024px) {
  .wrapper {
    padding: 0 16px;
  }

  .answersWrapper {
    flex-direction: column;
    width: 100%;
  }

  .answerButton {
    margin: 8px 0;
    width: 100%;
  }

  .linksWrapper a {
    width: 100%;
    margin-bottom: 16px;
  }

  .linksWrapper {
    flex-direction: column;    
  }
}


* { 
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}